DEBUG="true"
SECRET_KEY="change-me"

LOG_LEVEL="INFO"

PORT="5050"
HOSTNAME="127.0.0.1"

DATABASE_URL="sqlite:///instagram_importer.db"

PLAYWRIGHT_HEADLESS="true"
PLAYWRIGHT_TIMEOUT_MS="30000"

SELORA_API_BASE_URL="http://127.0.0.1:8000"
SELORA_API_KEY="selora_xxxxxxxxxxxxxxxxx"
SELORA_API_CONNECT_TIMEOUT_SECONDS="5"
SELORA_API_READ_TIMEOUT_SECONDS="30"